@import "mocha.css";

* {
  border: none;
  border-radius: 0.5rem;
  font-family: "0xProto Nerd Font Mono";
  font-size: 1rem;
}

#waybar {
  background: transparent;
  color: @text;
}

#workspaces {
  background-color: @surface0;
  margin: 0 0.5rem;
}

#custom-trayicon {
  font-size: 2rem;
}

#window,
#workspaces,
#custom-trayicon {
  margin-top: 0.5rem;
}

#workspaces button {
  color: @lavender;
}

#workspaces button.active {
  color: @sky;
}

#workspaces button:hover {
  color: @sapphire;
}

button {
  background: transparent;
}

#backlight,
#battery,
#cava,
#clock,
#custom-lock,
#custom-music,
#custom-power,
#language,
#network,
#pulseaudio,
#tray {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}

#clock {
  color: @blue;
}

#backlight,
#battery {
}

#pulseaudio {
  color: @maroon;
}

#language {
  color: @lavender;
}

#custom-power {
  color: @red;
  font-size: 1.5rem;
  padding: 0 1rem;
}

#workspaces button.urgent {
  color: @red;
}
